ETHERSCAN_KEY="blabla"
SNOWTRACE_KEY="blabla"
INFURA_KEY="blabla"
ANKR_KEY="blabla"
POLYGONSCAN_KEY="blabla"
ARBISCAN_KEY="blabla"
LINEASCAN_KEY="blabla"
OPTIMISMSCAN_KEY="blabla"
MANTLESCAN_KEY="blabla"
UNICHAIN_QUICKNODE_KEY="blabla"
SCROLLSCAN_KEY="blabla"

ETH_PK="<your_pk_here>"